<div class="content">
    <div class="user-area">
      <mat-card class="card-size-400">
        <mat-card-header>
          <mat-card-title>User 1</mat-card-title>      
        </mat-card-header>
        <mat-card-content>
          <h3>Car List</h3>
          <p>This card indeterminates progress bar.</p>      
        </mat-card-content>    
      </mat-card>
  
      <mat-card class="card-size-400">
        <mat-card-header>
          <mat-card-title>User 2</mat-card-title>      
        </mat-card-header>
        <mat-card-content>
          <h3>Car List</h3>
          <p>This card indeterminates progress bar.</p>      
        </mat-card-content>    
      </mat-card>
    </div>
  
</div>
