<div class="content">
    <div>
        <button mat-button class="new-button" (click)="newUser()">+ New User</button>
    </div>
    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let user of users"> 
            <mat-card class="card-size-400">
                <mat-card-header>
                    <mat-card-title>{{user.login}}</mat-card-title>      
                </mat-card-header>
                <mat-card-content>
                    <h3>Car List</h3>
                    <!--<p>This card indeterminates progress bar.</p> -->
                    <div *ngFor="let car of user.cars">
                        <p>{{car.model}}</p>
                    </div>         
                </mat-card-content>    
            </mat-card>
        </mat-grid-tile>             
    </mat-grid-list>
</div>
